body{
    background-color: rgb(40, 226, 16);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    color: rgb(228, 248, 7);
}

p{
    text-align: center;
    width: fit-content;
}

.center{
    width: 350px;
    display: 350px;
    margin-left: 350px;
    margin-right: 350px;
}

.foto{
    justify-content: center;
    display: flex;
}
.foto img{
    width: 300px;
    height: 300px;
}

.cod{
    justify-content: center;
    display: flex;
}
.cod p{
    background-color: rgb(182, 210, 21);
    border: 1px dotted rgb(25, 216, 31);
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.pokat {
    justify-content: center;
    display: flex;
}
.pokat img{
    width: 300px;
    height: 300px;
}

.a{
    justify-content: center;
    display: flex;
}

.a img{
    width: 300px;
    height: 300px;
}
#tombol{
    justify-content: center;
    display: flex;
}
#tombol button{
    background: rgb(25, 93, 229);
    color: rgb(186, 215, 20);
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}